.home {
    text-align: center;
    padding: 20px;
    background: #ffffff;
}

.home h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.home p {
    color: #333;
    font-size: 1.2rem;
}


.video_types {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.video-type {
    background: #ff0000;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}    

.video-type:hover {
    background: #ffccc9;
    border-color: rgb(255, 255, 255);
}
