.not-found{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;text-align:center}.not-found h1{font-size:5rem;color:#ff4757}.not-found p{font-size:1.5rem;color:#ccc}
